.container
{
	background: #1aa4ff;
	width: auto;
	height: 40px;
	margin-left: -8px;
	margin-right: -8px;
	text-align: center;
}

.menu
{
	width: 900px;
	font-family: Abadi MT Condensed Light;
	font-size: 20px;
	color: white;
	box-sizing: content-box;
	margin: 0 auto;
}

.menu li
{
	display: inline-block;
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
}

.menu li:hover
{
	background: #eeeeee;
	color: #a0a0a0;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	margin-left: 5px; 
}

.menu li:hover .menu_hidden
{
	visibility: visible;
}

.menu_hidden
{
	visibility: hidden;
	position: absolute;
	background: #eeeeee;
	top: 48px;
	left: 0;
	right:0;
	height: 40px;
    width: auto;
	font-family: Abadi MT Condensed Light;
	font-size: 16px;
	color: #888886;
	text-align: center;
}

.menu_hidden li
{
	display: inline-block;
	padding-left: 5px;
}


